/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
.sidebar {
  min-height: calc(100vh - 56px - 38px);
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .navbar-brand {
    font-size: 1.1rem;
  }
}